.middle .feeds .feed {
  background-color: var(--color-white);
  border-radius: 5px;
  margin: 1.5rem 0;
  font-size: 0.85rem;
  line-height: 1.5;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.middle .feed .head {
  display: flex;
  justify-content: space-between;
}

.middle .feed .user {
  display: flex;
  gap: 1rem;
}

.middle .feed .photo {
  overflow: hidden;
}

.head {
  padding: 10px;
}
.ingo {
  cursor: pointer;
}

.profile-photo {
  cursor: pointer;
}

.liked-by {
  padding: 10px;
  font-size: 15px;
}
.caption {
  padding: 10px;
  font-size: 15px;
}

.text-muted {
  padding: 10px;
}
.action-buttons {
  cursor: pointer;
}

.middle .feed .action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  margin: 0.6rem;
}

.action-Item {
  margin: 8px;
}
.action-Item:hover {
  color: rgb(230, 109, 109);
}
.bookmark:hover {
  color: rgb(230, 109, 109);
}

.comments {
  font-size: 15px;
}
.middle .liked-by {
  display: flex;
}
.middle .liked-by span {
  width: 2rem;
  height: 2rem;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-white);
  margin-left: -0.6rem;
}

.middle .liked-by span:first-child {
  margin: 0;
}
.middle .liked-by p {
  margin-left: 0.5rem;
}
