.left .sidebar {
  margin-top: 1rem;
  background: var(--color-white);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.left .sidebar .menu-item {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  translate: all 300ms ease;
  position: relative;
}
.siderbarItem {
  font-style: normal;
}

.left .sidebar .menu-item:hover {
  background: var(--color-light);
}

.left .sidebar i {
  font-size: 1.4rem;
  color: rgb(51, 50, 50);
  margin-left: 2rem;
  position: relative;
}

i {
  display: flex;
}

.left .sidebar i .notification-count {
  background: var(--color-danger);
  color: white;
  font-size: 0.7rem;
  width: fit-content;
  border-radius: 0.8rem;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: -0.2rem;
  right: -0.3rem;
}

.left .sidebar h3 {
  margin-left: 1.5rem;
  font-size: 1rem;
}
.profile {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.left .sidebar .active {
  background: var(--color-light);
}

.left .sidebar .active i,
.left .sidebar .active h3 {
  color: var(--color-primary);
}

.left .sidebar .active:before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background: var(--color-primary);
}

.left .sidebar .menu-item:first-child.active {
  border-top-left-radius: 5px;
  overflow: hidden;
}

.left .sidebar .menu-item:last-child.active {
  border-top-left-radius: 5px;
  overflow: hidden;
}

.left .btn {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
