main .conta .left {
  height: max-content;
  position: sticky;
  top: 40px;
}
main .conta .left .profile {
  padding: var(--card-padding);
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
}

.left .sidebar {
  margin-top: 1rem;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
}

.left .sidebar .menu-item {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  translate: all 300ms ease;
  position: relative;
}
.siderbarItem {
  font-style: normal;
}

.left .sidebar .menu-item:hover {
  background: var(--color-light);
}

.left .sidebar i {
  font-size: 1.4rem;
  color: var(--color-gray);
  margin-left: 2rem;
  position: relative;
}

i {
  display: flex;
}

.left .sidebar i .notification-count {
  background: var(--color-danger);
  color: white;
  font-size: 0.7rem;
  width: fit-content;
  border-radius: 0.8rem;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: -0.5rem;
}

.left .sidebar h3 {
  margin-left: 1.5rem;
  font-size: 1rem;
}

.left .sidebar .active {
  background: var(--color-light);
}

.left .sidebar .active i,
.left .sidebar .active h3 {
  color: var(--color-primary);
}

.left .sidebar .active:before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background: var(--color-primary);
}

.left .sidebar .menu-item:first-child.active {
  border-top-left-radius: var(--card-border-radius);
  overflow: hidden;
}

.left .sidebar .menu-item:last-child.active {
  border-top-left-radius: var(--card-border-radius);
  overflow: hidden;
}

.left .btn {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.backgroundnotifications {
  background: var(--color-white);
}

.left .notifications-popup {
  left: 110%;
  top: 0;
  width: 30rem;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: 0 0 2rem hsl(var(--color-primary), 75%, 60% 25%);
  z-index: 8;
}
