.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transform: all 300ms ease;
  font-size: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--color-primary);
  color: white;
}

.text-bold {
  font-weight: 500;
}
