:root {
  --color-white: hsl(252, 30%, 100%);
  --color-light: hsl(252, 30%, 95%);
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(252, 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(252, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, 17%);
  --color-black: hsl(252, 30%, 10%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
}

main {
  position: relative;
  top: 5.4rem;
}
main .conta {
  display: grid;
  grid-template-columns: 18vh auto 20vw;
  padding: 40px;
  column-gap: 2rem;
  position: relative;
}
