.right .messages {
  background: var(--color-white);
  border-radius: 5px;
  padding: var(--card-padding);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.right .messages .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.right .messages i {
  font-size: 1.4rem;
}

.right .messages .search-bar {
  display: flex;
  margin: 1rem;
}

.right .messages .category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.right .messages .category h6 {
  width: 100%;
  text-align: center;
  border-bottom: 4px solid var(--color-light);
  padding-bottom: 0.5rem;
  font-size: 0.85rem;
}

.right .messages .category .active {
  border-color: var(--color-dark);
}

.right .messages .message-requests {
  color: var(--color-dark);
}

.right .messages .message {
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: start;
}

.right .message .profile-photo {
  position: relative;
  overflow: visible;
  margin: 5px;
}

.right .profile-photo .rightprofile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.containerMessage:hover {
  background-color: rgb(235, 229, 229);
  padding: 2px;
  border-radius: 5px;
}

.containerRequest {
  display: flex;
}

.containerRequests {
  display: flex;
}

.rightprofileRequest {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.containerMessage {
  cursor: pointer;
  display: flex;
}

.message-body {
  margin: 10px;
}

.messageReceived {
  margin-bottom: 25px;
}

.right .messages .message:last-child {
  margin: 0;
}

.right .messages .message p {
  font-size: 0.8rem;
}

.right .messages .message .profile-photo .active {
  width: 0.8rem;
  height: 0.8rem;
  border: 3px solid var(--color-white);
  background: var(--color-success);
  position: absolute;
  bottom: 0;
  right: 0;
}

.right .friend-requests {
  margin-top: 1rem;
}

.right .friend-requests h4 {
  margin: 1rem 0;
}

.right .request {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: 5px;
  margin-bottom: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.right .request .info {
  display: flex;
  margin: 2px;
}

.right .request .action {
  display: flex;
  gap: 1rem;
}
