*,
*:before,
*:after {
  text-decoration: none;
  list-style: none;
  border: none;
}

.profile-photo {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

.text-mute {
  color: var(--color-gray);
}

.navbar {
  width: 100%;
  background: var(--color-white);
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .search-bar {
  background: var(--color-white);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
}

.navbar .search-bar input[type="search"] {
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}

.navbar .search-bar input[type="search"]::placeholder {
  color: var(--color-gray);
}

.navbar .create {
  display: flex;
  align-items: center;
  gap: 2rem;
}
