*,
*:before,
*:after {
  text-decoration: none;
  list-style: none;
  border: none;
}

.profile-photo {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

.text-mute {
  color: var(--color-gray);
}

.navbar {
  width: 100%;
  background: #ffffff;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .search-bar {
  background: rgb(238, 237, 237);
  border-radius: 5px;
  padding: var(--search-padding);
}

.navbar .search-bar input[type="search"] {
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
}

.navbar .create {
  display: flex;
  align-items: center;
  gap: 2rem;
}
