main {
  position: relative;
  top: 5.4rem;
}
main .conta {
  display: grid;
  justify-content: center;
  grid-template-columns: 15vw 30vw 15vw;
  column-gap: 3rem;
  position: relative;
  padding: 20px;
}

main .conta .left {
  height: max-content;
  position: sticky;
  top: 40px;
}
main .conta .left .profile {
  padding: var(--card-padding);
  background: var(--color-white);
  border-radius: 5px;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
}

main .conta .right {
  height: max-content;
  position: sticky;
  top: -18rem;
  bottom: 0;
}

/* media queries */

@media screen and (max-width: 1700px) {
  .conta {
    width: 96%;
  }
  main .conta {
    grid-template-columns: 0rem auto 30vw;
    gap: 1rem;
  }

  .left {
    width: 5rem;
    z-index: 5;
  }

  main .conta .left .profile {
    display: none;
  }

  .sidebar h3 {
    display: none;
  }

  .left .btn {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .backgroundnotifications {
    margin-left: 0px;
  }

  .navbar .search-bar {
    display: none;
  }

  main .conta {
    grid-template-columns: 10px 100vw 0;
    gap: 0;
  }

  main .conta .left {
    bottom: 0;
    right: 0;
  }

  .left .notifications-popup {
    position: absolute;
    left: -20rem;
    width: 20rem;
  }

  .left .notifications-popup:before {
    position: absolute;
    top: 1.3rem;
    left: calc(20rem - 0.6rem);
    display: block;
  }

  main .conta .middle {
    grid-column: 1/3;
  }

  main .conta .right {
    display: none;
  }
}
