main {
  position: relative;
  top: 5.4rem;
}
main .conta {
  display: grid;
  justify-content: center;
  grid-template-columns: 15vw 45vw 25vw;
  column-gap: 2rem;
  position: relative;
  padding: 20px;
}

main .conta .left {
  height: max-content;
  position: sticky;
  top: 40px;
}
main .conta .left .profile {
  padding: var(--card-padding);
  background: var(--color-white);
  border-radius: 5px;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
}
